
header
  a(href="#menu")
    span Menu
        
  nav#menu
    a(href="/")
      h1 Présentation
      
    a(href="/realisations.html")
      h1 Réalisations
        
    a(href="/contact.html")
      h1 Contact
