ul.social
  li
    a(href="https://twitter.com/nbilleau" rel="noreferrer" target="_blank" aria-label="twitter")
      i.fa.fa-twitter
  li
    a(href="https://instagram.com/nathanbilleau" rel="noreferrer" target="_blank" aria-label="instagram")
      i.fa.fa-instagram
