html(lang="fr")
  head
    title Nathan Billeau | Portfolio
    link(href="https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap", rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Lora&display=swap", rel="stylesheet")
    link(href="styles/reset.css", rel="stylesheet")
    link(href="styles/style.css", rel="stylesheet")
    link(href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet")
  body
  
    include includes/header.pug
    
    section.black.half
      .imgBg.contact
        .maskedText Me contacter
      
      .infos
        form
          input(name="name" type="text" placeholder="Nom")
          input(name="subject" type="text" placeholder="Objet")
          textarea(name="message" placeholder="Message")
          input(type="submit")
        ul.social
          li
            a(href="https://twitter.com/nbilleau", target="_blank")
              i.fa.fa-twitter
          li
            a(href="https://instagram.com/nathanbilleau", target="_blank")
              i.fa.fa-instagram
