html
  head
    title Nathan Billeau | Portfolio
    link(href="https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap", rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Lora&display=swap", rel="stylesheet")
    link(href="styles/reset.css", rel="stylesheet")
    link(href="styles/style.css", rel="stylesheet")
    link(href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet")
  body
    header
      a(href="#menu")
        span Menu
        
      nav
      
        a(href="/realisations.html")
         h1 Réalisations
        
        a(href="/")
          h1 Présentation
        
        a(href="/contact.html")
          h1 Contact
      
      
      
      
    section.black.presentation
      div.face
      div.infos
        h1.title1 Nathan Billeau
        p J'ai 18 ans et depuis mes 13 ans, je suis autodidacte dans le développement web. Après de nombreux sites web réalisés, je suis à l'aise avec  des technologies comme React, Vue, Gatsby, NodeJS, Nuxt... J'apprends également la photographie, la vidéo, j'ai réalisé et monté quelques clips musicaux. Je suis mon DUT MMI à Laval. Si vous souhaitez travailler avec moi sur l'un de vos projet, contactez moi par email.
        ul.social
          li
            a(href="https://twitter.com/nbilleau", target="_blank")
              i.fa.fa-twitter
          li
            a(href="https://instagram.com/nathanbilleau", target="_blank")
              i.fa.fa-instagram
