html(lang="fr")
  head
    title Nathan Billeau | Portfolio
    link(href="https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap", rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Lora&display=swap", rel="stylesheet")
    link(href="styles/reset.css", rel="stylesheet")
    link(href="styles/style.css", rel="stylesheet")
    link(href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet")
  body
  
    include includes/header.pug
      
    section.black.half
      div.imgBg.face
      div.infos
        h1.title1 Nathan Billeau
        p J'ai 18 ans et depuis mes 13 ans, je suis autodidacte dans le développement web. Après de nombreux sites web réalisés, je suis à l'aise avec  des technologies comme React, Vue, Gatsby, NodeJS, Nuxt... J'apprends également la photographie, la vidéo, j'ai réalisé et monté quelques clips musicaux. Je suis mon DUT MMI à Laval. Si vous souhaitez travailler avec moi sur l'un de vos projet, contactez moi par email.
        ul.social
          li
            a(href="https://twitter.com/nbilleau", target="_blank")
              i.fa.fa-twitter
          li
            a(href="https://instagram.com/nathanbilleau", target="_blank")
              i.fa.fa-instagram


    section.white.half
      div.imgBg.skills
        .maskedText Mes compétences
        
      div.infos
        div
          h1.skill.percent8(data-text="javascript") javascript
        div
          h1.skill.percent10(data-text="html") html
        div
          h1.skill.percent10(data-text="css") css    
        div
          h1.skill.percent7(data-text="nodejs") nodejs
        div
          h1.skill.percent7(data-text="xd") xd
        div
          h1.skill.percent5(data-text="illustrator") illustrator
        div
          h1.skill.percent8(data-text="premiere pro") premiere pro
        div
          h1.skill.percent5(data-text="after effect") after effect
        div
          h1.skill.percent7(data-text="lightroom") lightroom
        div
          h1.skill.percent8(data-text="photoshop") photoshop
        div
          h1.skill.percent9(data-text="anglais") anglais
        

        
    section.black.portraitCh
      div
        h1 un pays
        h1 la suède
      div
        h1 un livre
        h1 1984
      div
        h1 un réalisateur
        h1 quentin dupieux
      div
        h1 un film
        h1 mr nobody
      div
        h1 une série
        h1 mr robot
      div
        h1 un personnage
        h1 thomas shelby
      div
        h1 un mot
        h1 oui
      div
        h1 un emoji
        h1 🙃
