doctype html
html(lang="fr")
  head
    title Nathan Billeau | Portfolio
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="description" content="Nathan Billeau, étudiant en MMI à Laval.")
    link(href="https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap", rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Lora&display=swap", rel="stylesheet")
    link(href="styles/reset.css" rel="stylesheet")
    link(href="styles/style.css" rel="stylesheet")
    link(href="styles/responsive.css" rel="stylesheet" media="screen and (max-width: 700px)")
    link(href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet")

  body

    include includes/header.pug
    
    .reaNav
        a(href="#lemaquis" title="Le Maquis") Le Maquis
        a(href="#igorkov" title="Igor Kov") Igor Kov
        a(href="#camarade" title="Camarade") Camarade
        a(href="#socialdocs" title="Socialdocs") Socialdocs
        a(href="#lyssna" title="Lyssna") Lyssna
    
    
    .reaContainer
      
          
      section.rea.color1#lemaquis
        .overview
          img(src="images/lemaquis.webp" alt="le maquis")
          h1.maskedText Le maquis
        .moreContainer
          .more
    
            div
              h1 Le Maquis
              h2 mars 2019
              h3 gatsby, netlifyCMS, figma...
              
            p Le Maquis était un collectif d'artistes lycéens manceaux. Le site leur permettait d'écrire des articles, d'avoir une page de présentation par artiste, les dates de leurs évenements... Et ce sans programmer, une interface est disponible pour les administrateurs du site. 
            
          a(href="https://lemaquis.netlify.com" target="_blank" rel="noreferrer") visiter le site
          
          
      section.rea.color2#igorkov
        .overview
          img(src="images/igorkov.webp" alt="igor kov")
          h1.maskedText Igor Kov
        .moreContainer
          .more
    
            div
              h1 Igor Kov
              h2 avril 2019
              h3 gatsby, netlifyCMS, figma...
              
            p Igor est un photographe manceau. Sont site est réalisé avec Gatsby et possède un CMS afin de rajouter du contenu plus simplement.
          
          a(href="https://igorkov.netlify.com" target="_blank" rel="noreferrer") visiter le site
          
        
      section.rea.color3#camarade
        .overview
          img(src="images/camarade.webp" alt="camarade")
          h1.maskedText Camarade
        .moreContainer
          .more
    
            div
              h1 Camarade
              h2 mars 2019
              h3 premiere pro, reflex...
              
            p Camarade est un titre de Code Rouge, groupe de rap manceau. J'ai monté le clip sur Premiere Pro et réalisé une partie. Dans le parking sous-terrain nous avons utilisé un skate pour le mouvement circulaire et rester stable.
          
          a(href="https://www.youtube.com/watch?v=s15IFhvUh34" target="_blank" rel="noreferrer") voir le clip
          
      section.rea.color4#socialdocs
        .overview
          img(src="images/socialdocs.webp" alt="socialdocs")
          h1.maskedText Socialdocs
        .moreContainer
          .more
    
            div
              h1 Socialdocs
              h2 avril 2019
              h3 gatsby, netlifyCMS, figma...
              
            p Socialdocs est un site regroupant des documents en lien avec les métiers du social et du handicap.
          
          a(href="https://socialdocs.netlify.com/" target="_blank" rel="noreferrer") visiter le site
          
          
          
      section.rea.color1#lyssna
        .overview
          img(src="images/lyssna.webp" alt="lyssna")
          h1.maskedText Lyssna
        .moreContainer
          .more
    
            div
              h1 Lyssna
              h2 juillet 2019
              h3 nuxt, gotrue, listennotes API, figma...
              
            p Lyssna (écouter en suédois) était un projet personnel. J'aime beaucoup les podcasts et il y a toujours des choses à retenir ou à voir plus tard, sur Lyssna, on peut prendre des notes et les classer pendant que l'on écoute. Le projet est pour le moment en pause mais peut être qu'une version finale sortira un jour.
          
          a(href="https://thirsty-gates-29bfee.netlify.com/" target="_blank" rel="noreferrer") visiter le site
          
        
