html(lang="fr")
  head
    title Nathan Billeau | Portfolio
    link(href="https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap", rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Lora&display=swap", rel="stylesheet")
    link(href="styles/reset.css", rel="stylesheet")
    link(href="styles/style.css", rel="stylesheet")
    link(href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet")
  body

    include includes/header.pug
    
    .reaNav
        a(href="#lemaquis" title="Le Maquis")
        a(href="#igorkov" title="Igor Kov")
    
    
    .reaContainer
          
      section.rea.color3#lemaquis
        .overview
          img(src="images/lemaquis.png" alt="le maquis")
          h1.maskedText Le maquis
        .moreContainer
          .more
    
            div
              h1 Le Maquis
              h2 mars 2019
              h3 gatsby, netlifyCMS, figma...
              
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          
          a(href="https://lemaquis.netlify.com" target="_blank") visiter le site
          
          
      section.rea.color2#igorkov
        .overview
          img(src="images/igorkov.png" alt="igor kov")
          h1.maskedText Igor Kov
        .moreContainer
          .more
    
            div
              h1 Igor Kov
              h2 avril 2019
              h3 gatsby, netlifyCMS, figma...
              
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          
          a(href="https://igorkov.netlify.com" target="_blank") visiter le site
          
        
