section {
  height: 100%;
  width: calc(100vw - 20vw * 2);
  height: calc(100vh - 10vh * 2);
  padding: 10vh 20vw;

  &.black {
    background-color: rgba(0, 0, 0, .9);
  }

  &.presentation {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;

    .face {
      margin-right: 30px;
      height: 100%;
      background: url('/images/face.jpg');
      background-size: cover;
      background-position: center;
      flex: 1;
    }

    .infos {
      flex: 1;
      margin-left: 30px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      h1 {
        color: #fff;
        font-size: 8em;

      }

      p {
        color: rgba(255, 255, 255, .7);
        font-family: 'Lora';
        line-height: 1.2em;
      }

      ul.social {
        display: flex;
        width: 20%;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;

        li {
          a {
            color: #fff;
          }
        }
      }
    }
  }
}

h1 {
  font-family: 'Bebas Neue';
}
