section {
  height: 0;
  width: calc(100vw - 20vw * 2);
  min-height: calc(100vh - 15vh * 2);
  padding: 15vh 20vw;


  &.black {
    background-color: rgba(0, 0, 0, .9);
  }

  &.white {
    background-color: rgba(255, 255, 255, 1);
  }

  &.half {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;

    .imgBg {
      margin-right: 30px;
      height: 100%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      flex: 1;
      position: relative;

      &.face {
        background-image: url('/images/face.jpg');
      }

      &.skills {
        background-image: url('/images/skills.jpg');
      }
    }

    .infos {
      flex: 1;
      margin-left: 30px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      h1 {
        color: #fff;
        font-size: 8em;

      }

      p {
        color: rgba(255, 255, 255, .7);
        font-family: 'Lora';
        line-height: 1.2em;
      }

      ul.social {
        display: flex;
        width: 20%;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;

        li {
          a {
            color: #fff;
          }
        }
      }
    }
  }
}

h1 {
  font-family: 'Bebas Neue';
}


header {
  position: absolute;
  width: calc(100vw - 20vw * 2);
  height: 10vh;
  padding: 0 20vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  z-index: 999;

  a {
    text-decoration: none;
  }
  span {
    font-family: 'Bebas Neue';
    color: #fff;
    font-size: 1.3em;
    cursor: pointer;
  }

  nav {
    display: none;
    height: calc(100vh - 15vh * 2);
    width: calc(100vw - 20vw * 2);
    padding: 15vh 20vw;
    position: fixed;
    background: #fff;
    top: 0;
    left: 0;
    flex-direction: column;
    justify-content: space-around;

    a {
      color: #000;
      transition: 0.5s;
      box-shadow: inset 0 0 0 0 #000;

      h1 {
        padding: 2vw;
        font-size: 6em;
      }

      &:hover{
        color: #fff;
        box-shadow: inset 50vw 0 0 0 #000;
      }

    }
  }
}


#menu:target{
  display: flex;
}


.maskedText {
  font-family: 'Bebas Neue';
  position: absolute;
  top: 0;
  color: #000;
  background: #fff;
  mix-blend-mode: screen;
  padding: 10px;
  font-size: 5em;
  margin: 1vw;
}


.skill {
  font-family: 'Bebas Neue';
  font-size: 2.5em!important;
  position: absolute;
  margin: 0;
  color: #fff;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
  padding: 0;

  &:before {
    content: attr(data-text);
    position: absolute;
    width: 0;
    overflow: hidden;
    transition: 0.2s;
    z-index: 999;
    color: #000;
    white-space:nowrap;
  }

  @for $i from 1 through 10 {
      $width: percentage(0.1 * $i);

      &.percent#{$i}:hover:before {
        width: $width;
      }
  }

}


.portraitCh {
  div {
    text-align: center;
    font-size: 4em;
    color: #fff;

    h1 {
      display: inline-block;
    }

    h1:before {
      color: rgba(255, 255, 255, .3);
      font-size: .4em;
    }

    h1:last-of-type:before {
      content: ' je serais ';
    }

    h1:first-of-type:before {
      content: ' si j\'étais ';
    }
  }
}
